<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>Live Session - Ai-Listo</title>
    <meta name="description" content="Live session page for Ai-Listo: An AI-powered system for student detection and analysis using advanced computer vision technology.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/video.css') }}">
</head>
<body>
    <div class="sidebar">
        <div class="ailisto-sidebar-title">Ai-Listo</div>
        <a href="/">Dashboard</a>
        <a class="active" href="/live-session">Live Session</a>
        <a href="/history">History</a>
        <a href="/profile">Profile</a>
        <a href="/settings">Settings</a>
        <a href="/about">About</a>
    </div>

    <p class="page-title">Live Session</p>
    <div class="content">
        <div>
            <button id="select-camera-btn" class="btn">Select Camera</button>
            <select id="user-camera-select" style="display: none;">
                <!-- Camera Options will be populated here -->
            </select>
        </div>
        <div class="video-container" style="display: none;">
            <video id="user-video" autoplay></video>
        </div>
        <div class="session-controls">
            <button id="start-btn" class="btn" disabled>Start</button>
            <button id="pause-btn" class="btn" disabled>Pause</button>
            <button id="end-btn" class="btn" disabled>End</button>
        </div>
        <h2>Annotated Video Feed</h2>
        <div class="video-container">
            <video id="annotated-video" autoplay></video>
            <img id="annotated-video-recorded"
                src=""
                height="700"
                width="350"
                style="display: none;" />
        </div>
        <p class="sub-title">Live Attention Summary</p>
        <div class="content-box">
            <ul>
                <li><b>Class Attention:</b> <span id="class-attention">0</span>%</li>
                <li><b>Highest Attention:</b> <span id="highest-attention">0</span> students</li>
                <li><b>High Attention:</b> <span id="high-attention">0</span> students</li>
                <li><b>Medium Attention:</b> <span id="medium-attention">0</span> students</li>
                <li><b>Low Attention:</b> <span id="low-attention">0</span> students</li>
                <li><b>Lowest Attention:</b> <span id="lowest-attention">0</span> students</li>
                <li><b>Detected Students:</b> <span id="detected-students">0</span> students</li>
            </ul>
        </div>
        
        <h2>Attention Distribution Over Time</h2>
        <div class="content-box">
            <p>This visualization presents a real-time line graph illustrating the temporal distribution of student attention levels during a class session.</p>
            <img src="{{ url_for('static', filename='images/Chart.png') }}" width="800"/>
        </div>
        <p class="sub-title">Event Logs</p>
        <div class="content-box">
            <ul id="event-logs">
                <!-- Event logs will be appended here -->
            </ul>
        <script src="{{ url_for('static', filename='js/camera.js') }}"></script>
        <script src="{{ url_for('static', filename='js/session-controls.js') }}"></script>
    </div>
</body>
</html>
