body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #F5F5F5;
}

.page-title {
  font-size:32px;
  margin-left: 200px;
  padding: 1px 16px;
  padding-top: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;  
  gap: 20px;
  height: 100vh;
}

.content-box {
  background-color: #D9D9D9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  max-width: 800px;
}

.content-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content-box li {
  padding: 10px;
}



@media screen and (max-width: 700px) {
  .page-title {
    margin-left: 0;
  }
  div.content {
    margin-left: 0;
  }
}

.session-controls button {
  padding: 15px 25px;
  margin-left: 10px;
  margin-right: 10px;
}





