.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  background-color: #111240;
  height: 100%;
}

.ailisto-sidebar-title {
  font-size: 24px;
  align-items: center;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 40px;
  margin-top: 25px;
}

.sidebar a {
  text-align: center;
  width: 100%;
  color: rgb(255, 255, 255);
  padding: 16px 0px;
  text-decoration: none;
}

.sidebar a.active {
  background: linear-gradient(to right, #FF4B4B, #FAB637);
  font-weight: bold;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}


/* @media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} */